*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(imagens/riverdale.jpg);
    background-image: cover;
    background-repeat: no-repeat;
    font-family: 'Young Serif',serif;
}

body::before{
    
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.logo img{
    background-color: tomato;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: transparent;
    height: 45px;
    width: 167px;
    color: aliceblue;
    border:nonesolid #fff;
    border-radius: 10px;
    box-sizing: border-box;
    
}

.header{
    padding: 80px 40px;
    position: relative;
    z-index: 10;
}

.login-body{
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 550px;
    margin-left: 50%;
    background-color: tomato;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: transparent;
    color: aliceblue;
    border: 1px solid #fff;
    border-radius: 10px;
    box-sizing: border-box;
    transform: -50%;
    display: flex;
    align-items: center;
    
}

.login-body h2{
    color: blanchedalmond;
}

.login-body input{
    height: 30px;
    width: 100%;
    background-color: #333;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.login-body input:hover{
    background-color: #b1d8df9d;
}

.input-box{
    margin-bottom: 15px;
}

.login-body button{
    height: 50px;
    width: 100%;
    background-color: blanchedalmond;
    border-radius: 3px;
    font-weight: bold;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
}

.login-body button:hover{
    background-color:rgb(245, 193, 116) ;
    cursor: pointer;
}

.suport{
    display: flex;
    color: antiquewhite;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 5px;
}

.suport input{
    width: 15px;
    height: 15px;

}

.remember{
    display: flex;
    align-items: center;
}

.remember span{
    margin: 5px;
    height: 25px;
}

@media screen and (max-width:1020px){
    body{
        width: 1.5%;
        padding: 20px 50px;
        flex-direction: column;
    }

    .login-body{
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
    }

    
}